<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交换机</title>
    <link rel="stylesheet" type="text/css" href="/statics/bootstrap/css/bootstrap.css">
    <script src="/statics/jQuery.js"></script>
    <link href="/statics/theme.css" rel="stylesheet">
    <script src="/statics/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div>
    <a class="btn btn-primary" href="/index" role="button">返回</a>
    <a class="btn btn-default" href="#" role="button">添加</a>
 </div>
 <table class="table table-hover table-striped table-bordered" >
	{% if error_msg %}
            <tr>
                <td>{{error_msg}}</td>
            </tr>
     {% endif %}
 </table>
</body>
</html>